.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    height: 60%;
    padding: 7vw;
    background-color: #F7F46D;
}

.genius-logo {
    width: 33vw;
}

p {
    font-weight: lighter;
    font-size: 4vw;
    line-height: 7vw;
    text-align: center;
}