<div class="left-panel">
    <div class="card-container">
        <sc-card
          *ngFor="let ode of odes;let i = index;"
          [callDestroy]="ode.destroyEvent"
          [orientation]="orientation"
          (onRelease)="onRelease($event)"
          (onSwipe)="onSwipe($event)"
          (onAbort)="onAbort($event)"
          [tinder-card]="overlay"
          [callLike]="ode.likeEvent"
          (onLike)="onCardLike($event)"
          style="box-shadow: none !important;">
          <div class="card-content">
            <h1 [ngClass]="{medium: ode.document.snippet.length > 30}">{{ode.document.snippet}}</h1>
          </div>
        </sc-card>
    </div>
    <div class="buttons">
      <button (click)="like(false)">
        <img src="../../../assets/arrow.png" alt="next" class="next-arrow">
      </button>
      <button (click)="like(true)">
          <img src="../../../assets/heart.png" alt="next" class="like">
      </button>
    </div>
  </div>
