h1 {
    color: white;
}

ul, li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.liked-container {
    background-color: #2D3142;
    height: auto;
    padding: 7vw 4vw;
}

.liked-container h1 {
    margin: 0vw 5vw;
    font-size: 8vw;
    color: antiquewhite;
}

.list-container {
    background-color: antiquewhite;
    height: auto;
    padding: 7vw 4vw;
}

.list-container h1 {
    margin: 0vw 5vw;
    font-size: 8vw;
    color: #2D3142;
}


.ode-item {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-container {
    width: 26%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image-container img {
    width: 15vw;
    border: 1vw solid #2D3142;
}

.liked-container img  {
    border: 1vw solid antiquewhite;
}

.info {
    width: 78%;
    color: white;
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    align-items: flex-start;
}

.liked-container h2 {
    margin: 0vw;
    font-size: 4vw;
    color: antiquewhite;
}

.list-container h2 {
    margin: 0vw;
    font-size: 4vw;
    color: #2D3142;
}

.list-container p {
    margin: 0;
    color: #2D3142;
}

.go-arrow {
    height: 100%;
}

.go-arrow img {
    height: 7vw;
    border: none;
}

@media (min-width: 1080px) {

    .container {
        height: 100%;
    }

    .liked-container {
        height: 50%;
        overflow: auto;
        padding: 2vw 4vw;
    }

    .liked-container h1 {
        margin: 0vw;
        font-size: 2vw;
    }

    .liked-container img {
        border: 0.3vw solid antiquewhite;
    }

    .image-container img {
        width: 4vw;
        border: 0.3vw solid #2D3142;
    }

    .liked-container h2 {
        margin: 0vw;
        font-size: 0.9vw;
    }

    .go-arrow img {
        height: 2vw;
        border: none;
    }

    .list-container {
        height: 50%;
        overflow: auto;
        padding: 2vw 4vw;
    }

    .list-container h1 {
        margin: 0vw;
        font-size: 2vw;
    }

    .list-container h2 {
        margin: 0vw;
        font-size: 0.9vw;
    }
}