nav {
    display: flex;
    height: 18vw;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9000;
}

.nav-logo-left {
    height: 100%;
}

.nav-logo-left-hidden {
    display: none;
    height: 100%;
}

.nav-logo-right {
    height: 100%;
}

.nav-logo-right-hidden {
    display: none;
    height: 100%;
}

.back-button {
    height: 100%;
}

.back-button-hidden {
    display: none;
    height: 100%;
}

.profile {
    height: 100%;
    border-radius: 50%;
}

.profile-hidden {
    display: none;
    height: 100%;
}

.discover {
    height: 100%;
}

.discover-hidden {
    display: none;
    height: 100%;
}

.left-side {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    padding: 2vw;
}

.left-side-ode {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    background-color: antiquewhite;
    padding: 2vw;
}

.right-side {
    width: 51%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    padding: 2vw;
}

.right-side-ode {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: antiquewhite;
    padding: 2vw;
}

.right-side-ode a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 3.5vw;
    padding-right: 2vw;
    margin-top: -2vw;
}

.right-side-ode h2 {
    color: #2D3142;
    border-bottom: 1vw solid #2D3142;
    line-height: 17vw;
}

button {
    border: none;
    height: 100%;
}

.hide {
    display: none;
}

.show {

}

@media (min-width: 768px) {
    nav {
        height: 15vw;
    }

    .right-side-ode h2 {
        line-height: 13vw;
        font-size: 3.5vw;
    }
}