<nav>
  <div class="left-side">
    <img src="../../../assets/blac-01.png" alt="logo" [ngClass]="(state=='share')?'nav-logo-left':'nav-logo-left-hidden'">
    <button (click)="back()">
      <img src="../../../assets/arrow.png" alt="back" [ngClass]="(state=='share')?'back-button-hidden':'back-button'">
    </button>
  </div>
  <div class="right-side">
    <img src="../../../assets/blac-01.png" alt="logo" [ngClass]="(state=='ode')?'nav-logo-right':'nav-logo-right-hidden' ">
    <a *ngIf="currentUser" [routerLink]="['/user', currentUser._id]">
      <img src="{{currentUser.photos[0]}}" alt="profile" [ngClass]="(state=='browse')?'profile':'profile-hidden'">
    </a>
    <a [routerLink]="['/browse']">
      <img src="../../../assets/heart.png" alt="discover" [ngClass]="(state=='share')?'discover':'discover-hidden'">
    </a>
  </div>
</nav>