nav {
    display: flex;
    height: 18vw;
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9000;
}

.nav-logo-left {
    height: 100%;
}

.nav-logo-left-hidden {
    display: none;
    height: 100%;
}

.nav-logo-right {
    height: 100%;
}

.nav-logo-right-hidden {
    display: none;
    height: 100%;
}

.back-button {
    height: 100%;
}

.back-button-hidden {
    display: none;
    height: 100%;
}

.profile {
    height: 100%;
    border-radius: 50%;
}

.profile-hidden {
    display: none;
    height: 100%;
}

.discover {
    height: 100%;
}

.discover-hidden {
    display: none;
    height: 100%;
}

.left-side {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    padding: 2vw;
}

.right-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    padding: 2vw;
}

button {
    border: none;
    height: 100%;
}