
  <mat-horizontal-stepper linear>
    <mat-step [stepControl]="formGroup1">
      <form (ngSubmit)="handleAdd(odeForm)" [formGroup]="formGroup1">
          <div class="ode-field">
            <textarea name="odeText" id="odeText" cols="30" rows="10" placeholder="Type a lyric snippet that you love" wrap="hard" maxlength="50"></textarea>
            <div class="field submit">
                <button mat-button matStepperNext>
                    <img src="../../../assets/arrow.png" alt="next" class="next-arrow">
                </button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroup2">
          <form (ngSubmit)="handleAdd(odeForm)" [formGroup]="formGroup1">
              <div class="ode-field-info">
                <input type="text" name="songName" id="song-name" placeholder="Song Name">
                <input type="text" name="artist" id="artist" placeholder="Artist">
                <div class="field submit">
                    <button mat-button matStepperNext>
                        <img src="../../../assets/arrow.png" alt="next" class="next-arrow">
                    </button>
                </div>
              </div>
            </form>
      </mat-step>
    </mat-horizontal-stepper>