
<form (ngSubmit)="handleSubmit()" [formGroup]="snippetForm" [ngClass]="{medium: snippetForm.value.snippet.length > 30, small: snippetForm.value.snippet.length >50}">
    <mat-horizontal-stepper linear>
    <mat-step [stepControl]="snippetForm">
        <div class="ode-field">
        <textarea name="snippet" autocomplete="off" formControlName="snippet" cols="30" rows="10" placeholder="Type a lyric snippet that you love" wrap="hard" maxlength="180"></textarea>
        <div class="field submit">
            <button mat-button matStepperNext type="button">
                <img src="../../../assets/arrow-right-blue.png" alt="next" class="next-arrow">
            </button>
        </div>
        </div>
    </mat-step>
    <mat-step [stepControl]="snippetForm">
            <div class="ode-field-info">
            <input type="text" name="songName" autocomplete="off" (keydown.enter)="$event.preventDefault()" (keyup)="keyUp.next($event)"  formControlName="songName" placeholder="Song Name">
            <input type="text" name="artist" autocomplete="off" formControlName="artist" placeholder="Artist">
            <div *ngIf="results" class="autocomplete">
                    <div *ngFor="let result of results" class="result-item" (click)="handleSelect(result)">
                            <div class="image-container">
                                <img [src]="result.image" alt="albumcover">
                            </div>
                              <div class="info">
                                <h2>{{result.name}}</h2>
                                <p>{{result.artist}}</p>
                              </div>
                        </div>
            </div>
            <div class="field-submit">
                <button mat-button matStepperNext>
                    <img src="../../../assets/arrow-right-blue.png" alt="next" class="next-arrow">
                </button>
            </div>
            </div>
        </mat-step>
        </mat-horizontal-stepper>
</form>
