body, html {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.logo {
    width: 25vw;
}

.connect {
    width: 67vw;
    height: 15vw;
    display: flex;
    background-color: #2D3142;
    border-radius: 9vw;
    align-items: center;
    justify-content: center;
}

.connect img {
    width: 8vw;
    height: 8vw;
    margin-right: 4vw;
}

.container {
    height: 100%;
    padding: 0vw 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #657ED4;
}

h1 {
    font-weight: 100;
    margin-bottom: -33vw;
    margin-top: -6vw;
    color: antiquewhite;
}

h2 {
    color: antiquewhite;
    font-weight: 200;
    margin: 0;
    font-size: 5vw;
}

p {
    font-weight: 100;
    font-size: 7vw;
    text-align: center;
    color: antiquewhite;
}

@media (min-width: 700px) {
    
        p {
            font-size: 5vw;
            margin-top: 12vw;
        }
    
    }

@media (min-width: 1080px) {

        /* .container {
            justify-content: center
        } */

        .logo {
            width: 5vw;
        }

        h1 {
            font-size: 3vw;
            margin-bottom: -190px;
            margin-top: 0;
        }
    
        p {
            font-size: 2vw;
            margin-top: 0;
        }

        .connect {
            width: 28vw;
            height: 5vw;
        }

        .connect img {
            width: 3vw;
            height: 3vw;
            margin-right: 2vw;
        }

        h2 {
            font-size: 2vw;
        }
    
    }