<div class="container">
  <img src="../../../assets/logo-white-01.png" alt="logo" class="logo">
  <h1>Melode</h1>
  <p>Find new music based on awesome lyrics.</p>
  <a (click)="onLogin()">
    <div class="connect">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Spotify_logo_without_text.svg/2000px-Spotify_logo_without_text.svg.png" alt="">
      <h2>CONNECT WITH SPOTIFY</h2>
    </div>
    <!-- <img src="../../../assets/connect.png" alt="logo" class="connect"> -->
  </a>
</div>
