/* -- reset -- */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/* -- typography -- */

html, body {
    font-family: "Oswald";
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 13vw;
    text-transform: uppercase;
    font-weight: 400;
}

/* -- components -- */

button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
}

.next-arrow {
    width: 20vw;
}

.like {
    width: 20vw;
}


/* -- util -- */ 

.debug {
    position: absolute;
    z-index: 9000;
    top: 0;
    right: 0;
    font-size: 8px;
}

.debug:hover {
    zoom: 2;
}

/* .mat-horizontal-stepper-header-container {
    display: none !important;
} */

